@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", sans-serif;
}

body{
    background-color: rgb(2, 134, 229);
    color: white;
    background-image:  radial-gradient(at 9% 89%, rgb(12, 248, 248) 0px , transparent 50%),
     radial-gradient(at 72% 6%, rgb(0, 119, 255) 0px , transparent 50%),
     radial-gradient(at 24% 19%, rgb(255, 157, 224) 0px , transparent 50%),
     radial-gradient(at 65% 6%, rgb(81, 34, 175) 0px , transparent 50%),
     radial-gradient(at 20% 98%, rgb(120, 1, 199) 0px , transparent 50%),
     radial-gradient(at 44% 9%, rgb(255, 91, 167) 0px , transparent 50%),
     radial-gradient(at 10% 9%, rgb(126, 0, 230) 0px , transparent 50%)
    ;

    min-height: 100vh;
}

.container{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.504);
    background-size: cover;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    margin-top: 10vh;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.container h1{
    font-size: 45px;
}

.container h3{
    font-size: 30px;
}

.container button{
    font-size: 15px;
    padding: 10px 15px;
    border: white 2px solid;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 200;
}

.container button:hover{
    background-color: rgb(0, 102, 255);
    border-color:  rgb(0, 102, 255);
}

footer{
  display: flex;
  align-items: center;
  flex-direction: column;

}

footer p{
    font-size: 20px;
    color: white;
}